@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: whitesmoke;
  padding: 40px;
  margin-top: 40px;
  width: 600px;
}

.container .random-btn {
  margin-left: auto;
  padding: 6px;
  border: none;
  background-color: skyblue;
  cursor: pointer;
  transition: 0.3s;
}

.container .random-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #000;
}

.container h1 {
  margin-bottom: 20px;
  position: relative;
}

.container h1::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 80px;
  height: 3px;
  background-color: skyblue;
  border-radius: 5px;
}

.container .desc {
  margin-bottom: 20px;
}

.container .radio-group {
  margin-bottom: 20px;
}

.container .radio-group label {
  margin-right: 10px;
}

.container #num-input {
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.1rem;
  padding: 8px;
  border: none;
  background-color: skyblue;
  box-shadow: 0 2px 4px #333;
}

@media (max-width: 425px) {
  .container {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
  }
}
